<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <link rel="stylesheet" href="css/global.css">
</head>
<body>
  <%= erb(:"partials/navigation", :layout => false) %>
  <%= yield %>
</body>
</html>
